*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1f2124;
    color: white;
}
.fa.fa-google{
    margin-right: 7px;
}

.page-header{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: orange;
}

.login-page-container{
    margin-top: 40px;
}


.login-container{
    border: 3px solid #252629;
    border-radius: 8px;
    margin: 50px auto;
    width: 30%;
    height: 40vh;
}

.login-container > p{
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}

.login-btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 65%;
    margin-top: 70px;
}

.login-btn:hover{
    background-color: #252629;
}

.notes-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: block;
    border: 3px solid #252629;
    width: 50%;
}

.note-title{
    margin-left: 15px;
    font-size: 18px;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.note-title > a{
    margin-left: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.note-title > a:hover{
    margin-left: 10px;
    color: orange;
    text-decoration: none;
}

.note-header{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: orange;
    border-bottom: 3px solid orange;
}

.note-logo{
   margin-right: 15px;
}

.note-count{
    font-size: 16px;
}

.note-list{
    border-bottom: 1px solid #252629;
    height: 60px;
}

.note-list:hover{
    background-color: #252629;
}