* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1f2124;
  color: white;
}
.fa.fa-google {
  margin-right: 7px;
}

.page-header {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: orange;
}

.login-page-container {
  margin-top: 40px;
}

.login-container {
  border: 3px solid #252629;
  border-radius: 8px;;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 30%;
  height: 40vh;
}

.login-container > p {
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
}

.login-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 65%;
  margin-top: 70px;
}

.login-btn:hover {
  background-color: #252629;
}

.notes-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: block;
  border: 3px solid #252629;
  width: 500px;
  border-radius: 8px;
}

.note-title {
  margin-left: 15px;
  font-size: 18px;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.note-title > a {
  margin-left: 15px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.note-title > a:hover {
  margin-left: 10px;
  color: orange;
  text-decoration: none;
}

.note-header {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 50px;
  color: orange;
  border-bottom: 3px solid orange;
}

.note-header > a {
  text-decoration: none;
  color: orange;
}

.note-logo {
  margin-right: 15px;
}

.note-count {
  font-size: 19px;
  float: right;
  padding-right: 10px;
}

.note-created {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 10px;
}

.note-list {
  border-bottom: 1px solid #252629;
  height: 60px;
}

.note-list:hover {
  background-color: #252629;
}

#add-note-icon {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 30px;
}

label{
    display: none;
}

.a-note-title{
    color: orange;
    text-align: center;
    padding: 10px;
}

.btn.btn-secondary{
  justify-content: right;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.576);   
}

#back-to-notes-list{
    font-size: 30px;
    /* padding: 8px; */
}

.note-detail-header{
    padding-left: 10px;
    padding-right: 10px;
}

.icons > a{
    color: white;
    text-decoration: none;
}

.note-detail-header > a{
    color: white;
    text-decoration: none;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: right;
}

#edit-note{
    font-size: 20px;
}

#delete-note{
    font-size: 20px;
}

.note-body{
    padding: 10px;
    margin-left: 7px;
    margin-right: 7px;
    display: block;
}

.markdown-support-note{
    margin-top: 10px;
    color: orange;
    text-align: center;
}

.dev-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  font-size: 25px;
}

.dev-info > div > a{
  text-decoration: underline !important;
}

.dev-info > a > i{
    font-size: 40px;
}

@media all and (min-width: 100px) and (max-width: 600px) {
    .notes-container{
        width: 100%;
    }

    .login-container{
        width: 100%;
    }

}