{% extends 'base.html'%}
{% load static %}
{% load socialaccount %}
<title>{% block title %}Sign In || My Note App{% endblock %}</title>
{% block content %}

{% if user.is_authenticated %}
<p></p>
{% else %}
<div class="login-page-container">
    <h3 class="page-header" >Sign In</h3>
    <div class="login-container">
        <p>My Notes App</p>
        <a class="btn btn-outline-secondary login-btn" href="{% provider_login_url 'google' %}"><i class="fa fa-google"></i>Google</a>
    </div>
</div>
<p class="markdown-support-note">markdown supported</p>
{% endif %}
{% endblock %}